{% extends "admin/base_site.html" %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div>
    <h1>BIENVENIDOS A LA BIBLIOTECA!!</h1>
</div>

<div style="color: red;">
    <h3>6° C - 2020</h3>
</div>
<div>
{# puedo usar una estructura de control  #}

       {% if request.user.is_authenticated %}Bienvenido, {{ user.username }}.  {# puedo usar una variable #}
       {% else %}
           Usuario no autentificado
       {% endif %}
 </div>
<div  style="margin-top: 1rem !important;">
    <a href="/admin">Ver admin</a>
</div>

{% endblock %}